

{{>header}}

<div id="about">
    <p>This is a simple web application for forecasting the weather condition of a geographical location.<br>
        It was built by <a href="http://github.com/veecee424">me</a> with the help of third party APIs from <a href="http://mapbox.com">mapbox</a> and <a href="http://darksky.net">darksky.</a>
    </p>
</div>


    

{{>footer}}