

{{>header}}


<div id="help">
    <p>
        The app is quite easy to use. Simply imput your desired location in the search field (on the <a href="/weather">forecast page</a>)<br> and click on the forecast button. Your forecast should be ready in a few seconds.
    </p>
</div>


{{>footer}}

