

{{>header}}



<div id="home">
    <p>
        Hi there, <br>
        My name is Valentine; welcome to my weather forecast web application.<br>
        The application is currently a work in progress, do well to check back intermittently<br>
        as new features would definitely be added.<br>
        The navigation tabs above are there to help you find your way around the app, do well to indulge them.
    </p>
</div>

    

{{>footer}}