
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

header nav a {
    color: #333333;
    text-decoration: underline;
}

.header, .form, .forecastDiv {
    text-align: center;
}

footer {
    color: #bbbbbb;
    border-top: 1px solid #d8d8d8;
}

.footer {
   margin-top: auto;
   background-color: black;
}

.form {
    margin-top: auto;
}

#search {
    cursor: pointer;
}

.forecastDiv {
 margin: 0 auto;
 text-align: justify;
}